@font-face {
    font-family: parfum;
    src: url(./Fonts/static/Montserrat-Medium.ttf);
}

:root{
    --font: parfum;
    --color1: #424874;
    --color2: #F4EEFF;
    --color3: #DCD6F7;
    --color4: #A6B1E1;
    --text_color_nav: #ffffff;
}

body{
    padding: 0;
    margin: 0;
    font-family: var(--font);
    background: linear-gradient(90deg, #A6B1E1 3%, #F4EEFF 33%, #A6B1E1 65%);
    
}

/* Nav */

#homepage_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 2vw 0 2vw;

    background-color: var(--color1);
    color: var(--text_color_nav);

    height: 8vh;
}

#homepage_nav h1{
    font-size: 2em;
    letter-spacing: 5px;
}


#homepage_nav h2{
    letter-spacing: 5px;
}

/* Main */

#homepage_main{
animation: myAnim 1s ease 0s 1 normal forwards;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
}

#homepage_main_status div{
    /* padding-top: 12vh; */
    padding: 10vh 0 0 4vw;
    font-size: 1.3em;
}

.homepage_main_arrow{
    position: absolute;
    width: 2vw;
    height: 2vw;
}

.active{
    /* text-decoration: underline; */
    color: rgb(93, 93, 255);  
}

.active h4{
    /* text-decoration: underline; */
    color: rgb(93, 93, 255);
    font-size: 1.3em;
    font-weight: 200;
}


/* Buttons / Next / Back */

#homepage_main_buttons{
  display: grid;
  grid-template-columns: 1fr 1fr;

  margin: 83vh 0 0 18vw;
  width: 25vw;
}


.cssbuttons-io-button {
    background: #a370f0;
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #714da6;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    /* cursor: pointer; */
    margin-right: 3vw;
  }
  
  .cssbuttons-io-button .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
    right: 0.3em;
    transition: all 0.3s;
  }
  
  .cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
  }
  
  .cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #7b52b9;
  }
  
  .cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
  }
  
  .cssbuttons-io-button:active .icon {
    transform: scale(0.95);
  }

  #divBox_Image{
    width: 19vw;
    height: 44vh;
    /* border: red solid 2px; */
    border-radius: 0 0 20px 60px;
    background: linear-gradient(90deg, );
    opacity: 0.5;
    position: absolute;
    top: 10vw;
    left: 24vw;
    mix-blend-mode: multiply;
  }

  #homepage_main_part1{
    position: absolute;
    width: 30vw;
    left: 55vw;
    top: 10vh;
  }
  #homepage_main_part2{
    position: absolute;
    width: 30vw;
    left: 55vw;
    top: 30vh;
  }
  #homepage_main_part3{
    position: absolute;
    width: 30vw;
    left: 55vw;
    top: 50vh;
  }
  #homepage_main_part4{
    position: absolute;
    width: 30vw;
    left: 55vw;
    top: 70vh;
  }

  .options{
    display: grid;
    grid-template-columns: 33% 33% 33%;
  }

  .circle{
    width: 2vw;
    height: 2vw;
    border-radius: 50px;
    /* text-align: center; */

    transition: all ease-in-out 100ms;
  }

  .circle:hover{
    scale: 1.1;
  }

  .circle:active{
    scale: 0.9;
  }
 

  /* Slideshow */

#startpage_image{
  height: 55vh;
  width: auto;
  
}

#startpage_div{
  text-align: center;
}

#homepage_getStarted{
  padding: 1vw 2vw;
  font-size: 1.5rem;
  /* background-color: var(--color1); */
  background-color: #424874a5;
  /* display: flex; */
  /* place-items: center; */
  border-radius: 12px;
  border: none;
  color: white;

  transition: all ease-in-out 100ms;
}

#box{
  display: grid;
  place-items: center;
}

#homepage_getStarted:hover{
  scale: 1.06;
}

#homepage_getStarted:active{
  scale: 0.9;
}

#homepage_end{
  padding: 1vw 1.5vw;
  background-color: #424874a5;
  border-radius: 12px;
  border: none;
  color: white;

  position: absolute;
  top: 73vh;
  left: 88vw;
  letter-spacing: 2px;
  font-size: 1em;


  transition: all ease-in-out 100ms;
}

#homepage_end:hover{
  scale: 1.06;
}

#homepage_end:active{
  scale: 0.9;
}

#end_image{
  width: 20vw;
  height: 35vh;
}

#EndScreen{
animation: myAnim 1s ease 0s 1 normal forwards;
  margin-top: 15vh;
  text-align: center;
}

@keyframes myAnim {
    0% {
        opacity: 0;
        transform: scale(0.6);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}